  s h o w u p - c o r e / v e n v / 
 s h o w u p _ t o o l s / d a t a / v e c t o r _ c a c h e / 
 s h o w u p _ t o o l s / s i m p l i f i e d _ a p p / v e c t o r _ c a c h e / 
 s h o w u p _ e d i t o r _ u i / v e c t o r _ c a c h e / 
 s h o w u p - e d i t o r - u i / v e c t o r _ c a c h e / 
 s h o w u p _ t o o l s / f b 5 2 6 d 1 c / 
 s h o w u p _ t o o l s / s i m p l i f i e d _ a p p / l o g s / 
 s h o w u p - l i b r a r y / H a n d b o o k s   t e x t b o o k x   G u i d e s   f o r   E n r i c h m e n t / 
 _ _ p y c a c h e _ _ / 
 
 
/showup-core/logs
.env
/__pycache__
/showup-core/__pycache__
/showup-core/claude_api/__pycache__
/showup-core/showup_core/__pycache__
/showup-core/showup_core/core/__pycache__
/showup-core/venv
/showup-editor-ui/claude_cache
/showup-editor-ui/claude_panel/__pycache__
/showup-editor-ui/logs
/showup-editor-ui/vector_cache
/showup-library
/showup_tools/fb526d1c
/showup_tools/simplified_app/__pycache__
